.jumbotron {
    background-image: linear-gradient(darkgrey, lightgrey);
    margin-bottom: 20px;
    padding-bottom: 25px;
    padding-top: 40px;
}
h1 {
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 24px;
    text-decoration: underline;
}
#center {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 28px;
    margin-top: 50px;
}
.receipt {
    display: flex;
    justify-content: center;
}
.center {
    width: 50%;
}
.dark {
    background-image: linear-gradient(black, darkgrey)
}
th {
    width: 1fr
}
form h2 {
    margin-top: 30px;
}
p {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}
.main {
    background-image: linear-gradient(white, rgb(230, 230, 230));
    margin-top: 0px;
    height: 1000px;
}
label {
    margin-top: 20px;
    margin-bottom: 5px;
}